<div id="intro" class="intro container">
  <div class="row">
    <div class="col-lg-6 align-self-center">
      <h1>What's on your desktop?</h1>
      <p>Rainmeter allows you to display customizable skins on your desktop, from hardware usage meters to fully functional audio visualizers.<br />You are only limited by your imagination and creativity.</p>
      <p class="mb-4">Rainmeter is <a href="https://github.com/rainmeter/">open source software</a> distributed free of charge under the terms of the <a href="http://www.gnu.org/licenses/gpl-2.0">GNU GPL v2</a> license.</p>
      <a class="btn btn-outline-light btn-lg" href="https://docs.rainmeter.net/manual/getting-started/" role="button">Get started &raquo;</a>
    </div>
    <div class="col-lg-5 align-self-center ml-auto d-none d-lg-block">
      <%- partial('_partial/index/carousel') %>
    </div>
  </div>
</div>
