body {
    font-size: 0.9rem;
    letter-spacing: 0.02em;

    @include media-breakpoint-up(sm) {
        font-size: 1rem;
        letter-spacing: 0.015em;
    }
}
.content {
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex: 1 1 0;
}
.divider {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 1px;
    background: rgba($black, 0.1);
}
