@import "../variables";
@import "../colors";
@import "../mixins";

.error404 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: $white;
    background: linear-gradient(to bottom, $gradient-left 25%, $gradient-right 100%);

    h1 {
        font-size: 10rem;
        font-weight: 700;
    }

    .container {
        z-index: 2;
    }

    .floatingIcons {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100vh - 4rem);
        margin: 0;
        padding: 0;
        overflow: hidden;
        color: $white;
        z-index: 1;

        li {
            position: absolute;
            bottom: -300px;
            display: block;
            list-style: none;
            transition-timing-function: linear;
            animation: floatingIconAnimation1 25s infinite;

            &:nth-child(1) {
                left: 5%;
                width: 16rem;
                height: 16rem;
                animation: floatingIconAnimation1 25s infinite;
                animation-delay: 3s;
            }
            &:nth-child(2) {
                left: 20%;
                width: 11rem;
                height: 11rem;
                animation: floatingIconAnimation2 25s infinite;
                animation-delay: 9s;
            }
            &:nth-child(3) {
                left: 5%;
                width: 14rem;
                height: 14rem;
                animation: floatingIconAnimation1 25s infinite;
                animation-delay: 13s;
            }
            &:nth-child(4) {
                left: 30%;
                width: 12rem;
                height: 12rem;
                animation: floatingIconAnimation3 25s infinite;
                animation-delay: 17s;
            }
            &:nth-child(5) {
                left: 65%;
                width: 13rem;
                height: 13rem;
                animation: floatingIconAnimation2 25s infinite;
                animation-delay: 6s;
            }
            &:nth-child(6) {
                left: 65%;
                width: 15rem;
                height: 15rem;
                animation: floatingIconAnimation1 25s infinite;
                animation-delay: 19s;
            }
            &:nth-child(7) {
                left: 20%;
                width: 14rem;
                height: 14rem;
                animation: floatingIconAnimation1 25s infinite;
                animation-delay: 22s;
            }
            &:nth-child(8) {
                left: 80%;
                width: 12rem;
                height: 12rem;
                animation: floatingIconAnimation2 25s infinite;
                animation-delay: 3s;
            }
            &:nth-child(9) {
                left: 85%;
                width: 14rem;
                height: 14rem;
                animation: floatingIconAnimation3 25s infinite;
                animation-delay: 14s;
            }
            &:nth-child(10) {
                left: 50%;
                width: 16rem;
                height: 16rem;
                animation: floatingIconAnimation3 25s infinite;
                animation-delay: 12s;
            }
        }
        svg {
            width: 100%;
            height: 100%;
        }
    }
}

@keyframes floatingIconAnimation1 {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-1080px) rotate(65deg);
        transform: translateY(-1080px) rotate(65deg);
        opacity: 0;
    }
}
@keyframes floatingIconAnimation2 {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-1080px) rotate(-25deg);
        transform: translateY(-1080px) rotate(-25deg);
        opacity: 0;
    }
}
@keyframes floatingIconAnimation3 {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-1080px) rotate(-85deg);
        transform: translateY(-1080px) rotate(-85deg);
        opacity: 0;
    }
}
