.navbar {
    z-index: 2;
    padding: 1.5rem 0;

    li {
        a {
            font-size: 1.2rem;
            padding-top: 0.5rem;
            @include textshadow;
            @include transition($transition-base);

            @include hover-focus-active {
                color: rgba($white, 0.85) !important;
            }

            @include media-breakpoint-up(lg) {
                font-size: 1rem;
                padding-left: 2rem !important;
                padding-right: 0 !important;

            }
        }
    }

    &-brand {
        padding: 0;

        img {
            width: 200px;
            image-rendering: -webkit-optimize-contrast;
        }
    }

    &-nav {
        margin-top: 1.5rem;

        @include media-breakpoint-up(lg) {
            margin-top: 0;
        }
    }

    .dropdown-divider {
        margin-top: 1.5rem;
        border-top: 1px solid rgba($white, 0.2);
    }
}

// #navbar {
//     padding-left: 2rem;
//     padding-right: 2rem;

//     @include media-breakpoint-up(sm) {
//             padding-left: 0;
//             padding-right: 0;
//     }
// }