<div id="hero" class="hero--flat">
  <%- partial('_partial/navigation') %>
</div>

<div id="content" class="content error404">
<%- page.content %>
</div>

<%- partial('_partial/footer') %>

<script>
  if (location.pathname.indexOf('/manual-beta') === 0) {
    location.pathname = location.pathname.replace('/manual-beta', '/manual')
  }
</script>
