<div id="hero" class="hero--flat">
  <%- partial('_partial/navigation') %>
</div>
<div id="content" class="container content">
  <div class="post">
  <%- page.content %>
  </div>
</div>
<%- partial('_partial/footer') %>
